.App {
  text-align: center;
  padding: 24px;
}

.App-header {
  h1 {
    font-family: "Fondamento", cursive;
    font-size: 40px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.switch-input {
  display: none;
}
.container {
  height: 100vh;
  -webkit-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
}
.switch-control {
  position: absolute;
  top: 2%;
  left: 95%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  width: 60px;
  height: 30px;
  background: #93e6ef;
  border-radius: 3em;
  -webkit-transition: background 0.25s ease-in-out;
  transition: background 0.25s ease-in-out;
  cursor: pointer;
}
.switch-control::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fbde0d;
  border-radius: inherit;
  box-shadow: 0 0 7px 1px #fbde0d;
  -webkit-transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out, left 0.25s ease-in-out;
  transition: background 0.25s ease-in-out, box-shadow 0.25s ease-in-out, left 0.25s ease-in-out;
}
.switch-input:checked + .switch-control {
  background: #3e5a98;
}
.switch-input:checked + .switch-control::before {
  left: 30px;
  background: #fafbb2;
  box-shadow: 0 0 4px 1px #fafbb2;
}
.switch-input:checked ~ .container {
  background: #333;
}

